/*----------------------------------
  Blockquote
------------------------------------*/
.blockquote {
    font-size: 1.25rem;
    font-weight: $font-weight-light;
    border-radius: .25rem;
    margin-bottom: 1rem;
    position: relative;
    background-color: #fff;
    box-shadow: 5px 6px 9px -6px rgba(0,0,0, .15);
    padding :  30px 30px 30px 60px;

    &::before {
        content: "\201C";
        position: absolute;
        width :  60px;
        margin :  -25px 0 0 -40px;
        color: $primary;
        font-size :  60px;

    }

    &::after {
        content: "";
        position: absolute;
        bottom :  -30px;
        left :  60px;
        display: block;
        width: 0;
        height: 0;
        border: {
            style: solid;
            width: 30px 30px 0 0;
            color: $white transparent transparent transparent;
        }
        filter: drop-shadow(2px 2px 1px rgba(0,0,0, .1));
    }

    &-image {
        width :  60px;
        height :  60px;
    }
    // Left Bordered
    &-left {
        border-left: solid .25rem $primary;
    }

    // Right Bordered
    &-right {
        border-right: solid .25rem $primary;
    }
}
