/*------------------------------------
  Layout
------------------------------------*/


.duik {
  // Margins
  &-mt-5 {
    margin-top: ($spacer * 2) !important;
  }

  &-mb-5 {
    margin-bottom: ($spacer * 2) !important;
  }

  &-my-7 {
    margin-top: ($spacer * 3) !important;
    margin-bottom: ($spacer * 3) !important;
  }

  &-mt-7 {
    margin-top: ($spacer * 3) !important;
  }

  &-mb-7 {
    margin-bottom: ($spacer * 3) !important;
  }

  &-my-11 {
    margin-top: ($spacer * 5) !important;
    margin-bottom: ($spacer * 5) !important;
  }

  &-mt-11 {
    margin-top: ($spacer * 5) !important;
  }

  &-mb-11 {
    margin-bottom: ($spacer * 5) !important;
  }

  // Paddings
  &-py-10 {
    padding-top: ($spacer * 4.5) !important;
    padding-bottom: ($spacer * 4.5) !important;
  }

  &-pt-11 {
    padding-top: ($spacer * 5) !important;
  }

  @include media-breakpoint-up(md) {
    &-pt-md-11 {
      padding-top: ($spacer * 5) !important;
    }
    &-pb-md-11 {
      padding-bottom: ($spacer * 5) !important;
    }
  }

  // Backgrounds
  &-bg-white-soft {
    background-color: rgba($white, .11) !important;
  }

  // Headings
  &-h1 {
    font-size: $font-size-base * 2.3;
  }

  &-h2 {
    font-size: $font-size-base * 2;
  }

  &-h3 {
    font-size: $font-size-base * 1.75;
  }

  &-h4 {
    font-size: $font-size-base * 1.5;
  }

  &-h5 {
    font-size: $font-size-base * 1.25;
  }

  &-h6 {
    font-size: $font-size-base;
  }

  // Forms
  &-form-control {
    height: calc(1.5em + 1.5rem + 2px);
    padding: .75rem 1rem;

    &-sm {
      height: calc(1.5em + 1.25rem + 2px);
      padding: .625rem 1.125rem;
      font-size: .875rem;
      line-height: 1.5;
    }
  }

  &-btn {
    padding: .75rem 1rem;
    font-size: 1rem;
    line-height: 1.5;

    &-sm {
      padding: .625rem 1.125rem;
      font-size: .875rem;
      line-height: 1.5;
    }
  }

  /* Header */
  &-header {
    font-size: 1rem;

    .navbar-brand img {
      margin-top: -.22rem;
    }

    &__nav {
      .nav-link {
        line-height: 1.9;
      }
    }
  }

  /* Sidebar */
  &-sidebar-sticky {
    position: relative;
    top: 0;
    width: 100%;
    height: 15rem;
    padding: .5rem 0;
    overflow: hidden;

    @media (max-height: 500px) {
      min-height: 15rem;
    }

    @include media-breakpoint-up(md) {
      height: calc(100vh - #{$header-height});

      &--mini {
        height: calc(100vh - #{$header-height*4.4});
      }
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  &-sidebar {
    z-index: 100;
    padding: $header-height 0 0;

    @media (max-height: 500px) {
      overflow: auto;
    }

    &--dark {
      color: $white;

      hr {
        border-color: rgba($white, .1);
      }
    }

    @include media-breakpoint-up(md) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
    }

    &__heading {
      font-size: .84rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: {
        left: calc(.7rem + 4px);
        right: 1rem;
      }
    }

    &__nav {
      list-style: none;
      margin-bottom: 2rem;
      padding-left: 0;
    }

    &__item {
      font-size: $small-font-size;
    }

    &__link {
      color: $gray-700;
      display: inline-block;
      border-left: 4px solid transparent;
      padding: .3rem 1rem .5rem .7rem;

      &.active {
        color: $primary;
        border-color: $primary;
        padding-top: .5rem;
      }

      &:hover {
        color: $dark;
        text-decoration: none;
      }
    }

    &--dark &__link {
      color: rgba($white, .6);

      &.active {
        color: $white;
        border-color: $white;
      }

      &:hover {
        color: $white;
      }
    }
  }

  /* Page Nav */
  &-content-nav {
    position: fixed;
    top: 6.5rem;
    border-left: 1px solid $border-color;
    padding-left: 1.5rem;
    overflow-y: auto;
    list-style: none;

    ul {
      padding-left: 1rem;
      list-style: none;
    }

    &__item {
      font-size: $small-font-size;

      & > a {
        display: block;
        color: $gray-700;
        padding-top: .15rem;
        padding-bottom: .15rem;
      }

      &.active > a,
      & > a:hover {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  /* Content */
  &-content {
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }

  &-content-2 {
    min-height: calc(100vh - #{$footer-height} - 1.5rem);
  }

  &-fonts-block {
    padding: 1.875rem;
    line-height: 2;
    letter-spacing: 1px;

    &__item {
      line-height: 1;

      &-xl {
        font-size: 90px;
        line-height: 1;
      }

      &-xs {
        font-size: 30px;
        line-height: 1;
      }
    }
  }

  &-browser-img {
    position: relative;
    top: -7px;
    border-bottom: {
      left-radius: .5rem;
      right-radius: .5rem;
    }
  }
}